*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.heading{
  font-weight: bold;
  color: #d66a11;
  text-align: center;
  text-transform:capitalize;
  margin: 20px 5px ;
  text-shadow:0 2px 4px rgba(56, 55, 55, 0) ;

}
.img-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  
}

.img-div img{
  width: 250px;
  height: 300px;
}
p{
  color: #d611cf;
}


/* body{
  background-color: #f896f5;
  padding: 0%;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
div{
  width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: -30px;
} */